GROQ_API_KEY=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
GEMINI_API_KEY=your_gemini_api_key_here
SUPABASE_URL=https://xkyqkzmorzsmdkawlamy.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_xTlNdtzPfzFxYvGWf2-e5A_kfxMUoDl
PORT=5000
